@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-style: inherit;
}

.asideabout{
  background-image: url("../Environment/Developer02.gif");
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  height: 100vh;
}