@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-style: inherit;
}

.img-skill-html{
  width: 4rem;
  margin: 0 auto;  
}

.img-skill-css{
  width: 3rem; 
  margin: 0 auto;   
}

.img-skill-js{
  width: 3rem; 
  margin: 0 auto; 
}

.img-skill-react{
  width: 4rem;  
  margin: 0 auto;
}

.img-skill-redux{
  width: 4rem;  
  margin: 0 auto; 
}

.asidemyskill{
  margin-top: 2rem;
  height: 100vh;
  width: 90%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.container-skill {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
}

.progress-html {
  grid-column: 2/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;  
}

.progress-bar-html {
  height: 18px;
  background-color: #ee303c;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
}

.progress-striped-html .progress-bar-html {
  background-color: #FCBC51;
  width: 90%;
  background-image: linear-gradient(        45deg, rgb(252,163,17) 25%,         transparent 25%, transparent 50%,         rgb(252,163,17) 50%, rgb(252,163,17) 75%,        transparent 75%, transparent);
  animation: progressAnimationStrike 2s;
  -webkit-animation: progressAnimationStrike 2s;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}

.progress-css {
  grid-column: 2/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;  
}

.progress-bar-css {	
  height: 18px;
	background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-striped-css .progress-bar-css {
  background-color: #6b51fc;
  width: 95%;
  background-image: linear-gradient(        45deg, rgb(52, 17, 252) 25%,         transparent 25%, transparent 50%,         rgb(52, 17, 252) 50%, rgb(52, 17, 252) 75%,        transparent 75%, transparent);
  animation: progressAnimationStrike 2s;
  -webkit-animation: progressAnimationStrike 2s;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}

.progress-js {
  grid-column: 2/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;  
}

.progress-bar-js {	
  height: 18px;
	background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-striped-js .progress-bar-js {
  background-color: #cfdd4d;
  width: 80%;
  background-image: linear-gradient(        45deg, rgb(217, 252, 17) 25%,         transparent 25%, transparent 50%,         rgb(217, 252, 17) 50%, rgb(217, 252, 17) 75%,        transparent 75%, transparent);
  animation: progressAnimationStrike 2s;
  -webkit-animation: progressAnimationStrike 2s;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}

.progress-react {
  grid-column: 2/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;  
}

.progress-bar-react {	
  height: 18px;
	background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-striped-react .progress-bar-react {
  background-color: #50b9d3;
  width: 85%;
  background-image: linear-gradient(        45deg, rgb(17, 205, 252) 25%,         transparent 25%, transparent 50%,         rgb(17, 205, 252) 50%, rgb(17, 205, 252) 75%,        transparent 75%, transparent);
  animation: progressAnimationStrike 2s;
  -webkit-animation: progressAnimationStrike 2s;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}

.progress-redux {
  grid-column: 2/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;  
}

.progress-bar-redux {
  height: 18px;
  background-color: #ee303c;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.progress-striped-redux .progress-bar-redux {
  background-color: #560e77;
  width: 80%;
  background-image: linear-gradient(        45deg, rgb(166, 8, 206) 25%,         transparent 25%, transparent 50%,         rgb(166, 8, 206) 50%, rgb(166, 8, 206) 75%,        transparent 75%, transparent);
  animation: progressAnimationStrike 2s;
  -webkit-animation: progressAnimationStrike 2s;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}

.card-student{
  background-color: rgba(20, 219, 176, 0.425);
  box-shadow: 5px 10px 8px rgb(32, 32, 32);
  border-radius: 1rem;
  grid-row: 7/8;
  color: rgb(20, 219, 176);
  text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.img-card-student{
  width: 6rem;
  margin: 0 auto;
 
}