@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-style: inherit;
}

.App {
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("./img/fondo.jpg");
  background-size: cover;    
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.nav{
  background-color: rgb(46, 45, 45);
  color: #fff;
  width: 5vw;
  height: 100vh;
  text-align: center;
  font-size: medium;  
}

.icono{
  background-color: rgb(5, 5, 5);
  margin: 0;
  padding: 0;
  height: 20vh;
  font-size: small;
}

.logo{
  width: 4rem;
  padding: 0.3rem;
}

ul{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border-top: 0.1vh solid rgb(90, 90, 90);
}

li{
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0.1vh solid rgb(90, 90, 90);
 }

.networks{
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fab{
  color: #fff;
}

.fas{
  color: #fff;
}

.fab:hover{
  color: rgb(20, 219, 176);
}

.fas:hover{
  color: rgb(20, 219, 176);
}

.active{
  background-color: rgb(20, 219, 176);
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
article{
  min-width: 95vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
}

.content{
  margin: 5rem 5rem;
  text-align: justify;
  height: 100vh;  
}

h1{
  font-size: 5rem;
}

h1, h5{
  color: rgb(20, 219, 176); 
  margin: 1rem 0;
}

h3{
  color: #fff;
  margin: 1rem 0;
}
h5{
  font-size: 1.2rem;
}

h1{
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction:alternate
}

@keyframes slidein {
  from {
    font-size: 2.5rem;
    margin-right:50%;
    width:100%
  }

  to {
    font-size: 5rem;
   margin-right:0%;
   width:100%;
 }
}

.button-contact{
    margin-top: 2rem;
    width: 30vh;
    height: 4rem;
    background-color: transparent;
    border-color: rgb(20, 219, 176);  
    color: rgb(20, 219, 176);
    font-size: 1.5rem;
}

.button-contact:hover{
  cursor: pointer;
  background-color: rgb(20, 219, 176);
  color: #fff;
  opacity: 0.9;
  transition: linear;
}

.asidehome{
  background-repeat: no-repeat;
  background-size: 100% 100%;  
  height: 100vh;  
  animation-duration: 20s;
  animation-name: banner;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}

@keyframes banner {
  0%, 20% {
    background-image: url("./gif/tarjetaCambiaColor.gif");      
  }
  30%, 50% {
    background-image: url("./gif/Dulceria.gif");    
  }
  60%, 80% {
    background-image: url("./gif/clima.gif");    
  }
  90%, 100% {
    background-image: url("./gif/RickandMorty.gif");    
  }
}

.button-aside{
  margin-top: 2rem;
  width: 30vh;
  height: 4rem;
  background-color: rgb(20, 219, 176);
  border-color: rgb(20, 219, 176);  
  color: #000;
  font-size: 1.5rem;
}

.button-aside:hover{
  cursor: pointer;
  background-color: #000;
  color: #fff;
  opacity: 0.9;
  transition: linear;
}

.asideabout{
  background-image: url("./gif/Developer02.gif");
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  height: 100vh;
}

.asidemyskill{
  margin-top: 2rem;
  height: 100vh;
  width: 90%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.container-skill {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
}

.img-skill-html{
  width: 4rem;
  margin: 0 auto;  
}

.img-skill-css{
  width: 3rem; 
  margin: 0 auto;   
}

.img-skill-js{
  width: 3rem; 
  margin: 0 auto; 
}

.img-skill-react{
  width: 4rem;  
  margin: 0 auto;
}

.img-skill-redux{
  width: 4rem;  
  margin: 0 auto; 
}

.progress-html {
  grid-column: 2/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;  
}

.progress-bar-html {
  height: 18px;
  background-color: #ee303c;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
}

.progress-striped-html .progress-bar-html {
  background-color: #FCBC51;
  width: 90%;
  background-image: linear-gradient(        45deg, rgb(252,163,17) 25%,         transparent 25%, transparent 50%,         rgb(252,163,17) 50%, rgb(252,163,17) 75%,        transparent 75%, transparent);
  animation: progressAnimationStrike 2s;
  -webkit-animation: progressAnimationStrike 2s;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}

.progress-css {
  grid-column: 2/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;  
}

.progress-bar-css {	
  height: 18px;
	background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-striped-css .progress-bar-css {
  background-color: #6b51fc;
  width: 95%;
  background-image: linear-gradient(        45deg, rgb(52, 17, 252) 25%,         transparent 25%, transparent 50%,         rgb(52, 17, 252) 50%, rgb(52, 17, 252) 75%,        transparent 75%, transparent);
  animation: progressAnimationStrike 2s;
  -webkit-animation: progressAnimationStrike 2s;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}

.progress-js {
  grid-column: 2/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;  
}

.progress-bar-js {	
  height: 18px;
	background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-striped-js .progress-bar-js {
  background-color: #cfdd4d;
  width: 80%;
  background-image: linear-gradient(        45deg, rgb(217, 252, 17) 25%,         transparent 25%, transparent 50%,         rgb(217, 252, 17) 50%, rgb(217, 252, 17) 75%,        transparent 75%, transparent);
  animation: progressAnimationStrike 2s;
  -webkit-animation: progressAnimationStrike 2s;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}

.progress-react {
  grid-column: 2/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;  
}

.progress-bar-react {	
  height: 18px;
	background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-striped-react .progress-bar-react {
  background-color: #50b9d3;
  width: 85%;
  background-image: linear-gradient(        45deg, rgb(17, 205, 252) 25%,         transparent 25%, transparent 50%,         rgb(17, 205, 252) 50%, rgb(17, 205, 252) 75%,        transparent 75%, transparent);
  animation: progressAnimationStrike 2s;
  -webkit-animation: progressAnimationStrike 2s;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}

.progress-redux {
  grid-column: 2/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;  
}

.progress-bar-redux {
  height: 18px;
  background-color: #ee303c;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.progress-striped-redux .progress-bar-redux {
  background-color: #560e77;
  width: 80%;
  background-image: linear-gradient(        45deg, rgb(166, 8, 206) 25%,         transparent 25%, transparent 50%,         rgb(166, 8, 206) 50%, rgb(166, 8, 206) 75%,        transparent 75%, transparent);
  animation: progressAnimationStrike 2s;
  -webkit-animation: progressAnimationStrike 2s;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}

.card-student{
  background-color: rgba(20, 219, 176, 0.425);
  box-shadow: 5px 10px 8px rgb(32, 32, 32);
  border-radius: 1rem;
  grid-row: 7/8;
  color: rgb(20, 219, 176);
  text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.img-card-student{
  width: 6rem;
  margin: 0 auto;
 
}

.contentproject{
  width: 20vw;
  margin: 5rem 5rem;
  text-align: justify;
  height: 70vh; 
}

.title-Projects{
   text-align: center;   
}

.asideprojects{
  width: 60vw;
  height: 100vh;
}

.content-Projects{  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  perspective: 700;
  -webkit-perspective: 700;
}

.imgforehead{
  width: 100%;
  height: 100%;
}

.cardProjects {
  width: 100%;
  height: 15rem;  
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

.cardProjects:hover{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.side{
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;  
  position: absolute;
}
.behind{
  background-color: rgb(46, 45, 45);
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.diviconCard{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.iconCard{
  margin: 5rem;
  font-size: 5rem;
}

.asidecontact{
  background-image: url("./img/mapa.png");
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  height: 100vh;
}