@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-style: inherit;
}
/*-----------------------------------------------------------nav*/
header {
  position: sticky;
  top: 0;
  bottom: 0;
  width: 15vh;
}
nav {
  left: -4rem;
  background-color: rgba(26, 25, 25, 0.986);
  width: 15vh;
  height: 100vh;
}

nav #logo {
  width: 15vh;
  height: 15vh;
  padding: 0.5rem;
  position: relative;
  left: -0.5rem;
}

nav #contentLogo {
  background: #000;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
}

nav #menu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: flex-start;
}

nav ul li {
  list-style: none;
}

.divMenu {
  width: 15vh;
  height: 8vh;
  padding: 1rem;
  border-top: 1px solid rgb(9, 51, 1);
  border-bottom: 1px solid rgb(9, 51, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li div a {
  text-decoration: none;
  color: rgb(116, 116, 116);
  font-size: 1rem;
}

nav #menu li > div > a > i {
  display: none;
}

nav div > a > i {
  color: rgb(116, 116, 116);
}

nav #redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav #redes a i {
  padding: 0.5rem;
}

nav #redes a i:hover {
  cursor: pointer;
  color: #32c1cd;
  transition: linear;
}

nav > ul > #contentLogo > #programador {
  font-size: 0.8rem;
}
.divMenu a span:hover {
  cursor: pointer;
  color: #32c1cd;
  transition: linear;
}
/*----------------------------------------------------------------section*/
body {
  background-image: url("../img/fondo.jpg");
  background-repeat: repeat-y;
  overflow-y: hidden;
}
section {
  width: 90%;
  position: relative;
  top: -100vh;
  left: 15vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: flex;
  justify-content: space-evenly;
}

section a article img {
  width: 20rem;
  height: 10rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

section a article {
  box-shadow: 0.5rem 0.4rem 0.5rem;
  width: 50vh;
  height: 50vh;
  position: relative;
  top: 10rem;
  padding-left: 1rem;
  background-color: rgb(56, 60, 63);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section a article:hover {
  width: 49.5vh;
  height: 49.5vh;
}

#work01 {
  grid-column: span 1;
}

#work02 {
  grid-column: span 2;
}

section a article p {
  color: white;
  text-align: center;
}

label {
  margin: 1rem;
  visibility: hidden;
}

input#hamburguesa-icono {
  visibility: hidden;
}
/*--------------------------------------------------------------------Responsividad tablet*/
@media (max-width: 768px) {
  /*-------------------------section*/
  body {
    overflow-y: visible;
    overflow-x: hidden;
  }
  section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-left: 5rem;
    position: relative;
    top: -50rem;
  }

  /*-------------------------nav*/
  nav #menu li > div > a > i {
    display: block;
  }
  nav ul li div span {
    display: none;
  }

  nav #menu li > div > a > i:hover {
    cursor: pointer;
    color: #32c1cd;
    transition: linear;
  }
}
/*---------------------------------------------------------Responsividad celular*/
@media (max-width: 500px) {
  /*---------------------section*/
  section a article img {
    width: 13rem;
    height: 8rem;
    margin-top: 2rem;
    border-radius: 1rem;
  }

  section a article {
    width: 35vh;
    height: 35vh;
  }
  section a article:hover {
    width: 34.5vh;
    height: 34.5vh;
  }
  /*---------------------hamburger*/
  nav {
    margin-top: 2rem;
    background-color: transparent;
  }

  label i {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    visibility: visible;
    color: white;
  }

  input#hamburguesa-icono ~ nav {
    visibility: hidden;
  }

  input#hamburguesa-icono:checked ~ nav {
    visibility: visible;
  }
}
