@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-style: inherit;
}
/*-----------------------------------------------------------nav*/
header {
  position: sticky;
  top: 0;
  bottom: 0;
  width: 15vh;
}
nav {
  left: -4rem;
  background-color: rgba(26, 25, 25, 0.986);
  width: 15vh;
  height: 100vh;
}

nav #logo {
  width: 15vh;
  height: 15vh;
  padding: 0.5rem;
  position: relative;
  left: -0.5rem;
}

nav #contentLogo {
  background: #000;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
}

nav #menu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: flex-start;
}

nav ul li {
  list-style: none;
}

.divMenu {
  width: 15vh;
  height: 8vh;
  padding: 1rem;
  border-top: 1px solid rgb(9, 51, 1);
  border-bottom: 1px solid rgb(9, 51, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li div a {
  text-decoration: none;
  color: rgb(116, 116, 116);
  font-size: 1rem;
}

nav #menu li > div > a > i {
  display: none;
}

nav div > a > i {
  color: rgb(116, 116, 116);
}

nav #redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav #redes a i {
  padding: 0.5rem;
}

nav #redes a i:hover {
  cursor: pointer;
  color: #32c1cd;
  transition: linear;
}

nav > ul > #contentLogo > #programador {
  font-size: 0.8rem;
}
.divMenu a span:hover {
  cursor: pointer;
  color: #32c1cd;
  transition: linear;
}
/*----------------------------------------------------------------section*/
body {
  background-image: url("../img/fondo.jpg");
  background-repeat: repeat-y;
  overflow-y: hidden;
}
section {
  height: 100vh;
}
section #contenedorGrid {
  position: absolute;
  top: 5rem;
  left: 10rem;
  width: 80vh;
  display: grid;
  grid-template-columns: 40rem 1fr 1fr;
}

section #contenedorGrid #bloqueParrafo {
  width: 40rem;
}

section #contenedorGrid #bloqueParrafo h1 {
  color: rgb(12, 155, 124);
  font-size: 5rem;
}

section #contenedorGrid #bloqueParrafo p {
  position: relative;
  left: -5rem;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: justify;
  padding: 0.5rem 5rem;
}

section #contenedorGrid #bloqueParrafo a {
  color: rgb(12, 155, 124);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
}

section #contenedorGrid > img {
  height: 80vh;
  width: 80vh;
  border-radius: 12px;
}

label {
  margin: 1rem;
  visibility: hidden;
}

input#hamburguesa-icono {
  visibility: hidden;
}
/*--------------------------------------------------------------------Responsividad tablet*/
@media (max-width: 768px) {
  /*-------------------------section*/
  body {
    overflow-y: visible;
    overflow-x: hidden;
  }
  section #contenedorGrid {
    grid-template-columns: 40rem;
  }
  section #contenedorGrid #bloqueParrafo h1 {
    font-size: 3rem;
  }

  section #contenedorGrid #bloqueParrafo p {
    font-size: 1rem;
  }

  section #contenedorGrid #bloqueParrafo a {
    font-size: 1rem;
  }

  section #contenedorGrid > img {
    margin-top: 3rem;
    height: 60vh;
    width: 60vh;
    border-radius: 12px;
  }
  section #contenedorGrid #bloqueParrafo {
    width: 38rem;
  }

  /*-------------------------nav*/
  nav #menu li > div > a > i {
    display: block;
  }
  nav ul li div span {
    display: none;
  }

  nav #menu li > div > a > i:hover {
    cursor: pointer;
    color: #32c1cd;
    transition: linear;
  }
}
/*---------------------------------------------------------Responsividad celular*/
@media (max-width: 500px) {
  /*---------------------section*/

  section #contenedorGrid #bloqueParrafo h1 {
    font-size: 2rem;
  }

  section #contenedorGrid #bloqueParrafo p {
    font-size: 0.8rem;
  }

  section #contenedorGrid #bloqueParrafo a {
    font-size: 0.8rem;
  }

  section #contenedorGrid > img {
    margin-top: 3rem;
    height: 40vh;
    width: 40vh;
    border-radius: 12px;
  }
  section #contenedorGrid #bloqueParrafo {
    width: 28rem;
  }
  /*---------------------hamburger*/
  nav {
    margin-top: 2rem;
    background-color: transparent;
  }

  label i {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    visibility: visible;
    color: white;
  }

  input#hamburguesa-icono ~ nav {
    visibility: hidden;
  }

  input#hamburguesa-icono:checked ~ nav {
    visibility: visible;
  }
}
